@using Contracts.Releases
@using Mari.Client.Common.Enums
@using Mari.Client.Models.Releases
@using Mari.Contracts.Releases.Responce
@inject IReleaseManager ReleaseManager
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar



<MudTable Class="mt-8" CanCancelEdit="true" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
    RowEditCommit="ItemHasBeenCommitted" CommitEditTooltip="Сохранить"
    OnCommitEditClick="@(() => Snackbar.Add("Изменения сохранены"))" EditTrigger="@editTrigger" Items="@Releases"
    Hover="true" T="ReleaseResponse" OnRowClick="RowClicked">
    <HeaderContent>
        <MudTh>Платформа</MudTh>
        <MudTh>Версия</MudTh>
        <MudTh>Релизная задача</MudTh>
        <MudTh>Статус релиза</MudTh>
        <MudTh>Дата изменения</MudTh>
        <MudTh>Дата завершения</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="PlatformName">@context.PlatformName</MudTd>
        <MudTd DataLabel="Version">@context.Version</MudTd>
        <MudTd DataLabel="ReleaseTask">@context.MainIssue</MudTd>
        <MudTd DataLabel="Status">@context.Status</MudTd>
        <MudTd DataLabel="UpdateDate">@context.UpdateDate.ToString()</MudTd>
        <MudTd DataLabel="CompleteDate">@context.CompleteDate.ToString()</MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd DataLabel="PlatformName">
            @context.PlatformName
        </MudTd>
        <MudTd DataLabel="Version">
            @context.Version
        </MudTd>
        <MudTd DataLabel="ReleaseTask">
            @context.MainIssue
        </MudTd>
        <MudTd DataLabel="Status">
             <div @onclick:stopPropagation="true" @onclick:preventDefault="true">
                <MudSelect @bind-Value="@context.Status" Required>
                    @foreach (var item in Enum.GetValues(typeof(ReleaseStatus)))
                    {
                        <MudSelectItem Value="@Convert.ToString(item)">@item</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </MudTd>
        <MudTd DataLabel="UpdateDate">@context.UpdateDate.ToString()</MudTd>
        <MudTd>
            <div @onclick:stopPropagation="true" @onclick:preventDefault="true">
                <MudDatePicker Class="date-picker" @bind-Date="@context.CompleteDate" Required ErrorText="Неверная дата"
                               Editable="true" Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy">
                </MudDatePicker>
            </div>
        </MudTd>
    </RowEditingTemplate>
    <EditButtonContent Context="button">
        <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction"
            Disabled="@button.ButtonDisabled" />
    </EditButtonContent>
</MudTable>


@code
{
    private TableEditTrigger editTrigger = TableEditTrigger.EditButton;
    private ReleaseResponse elementBeforeEdit;

    private List<ReleaseResponse> Releases { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Releases = new List<ReleaseResponse>(await ReleaseManager.Test()) ;
        
      //  var r = await ReleaseManager.GetInWorkReleases();
      //  Releases = r.ToList();
        
    //  Platforms = await PlatformManager.GetAll();
    //  Statuses = await StatusManager.GetAll();
    }

    private void RowClicked(TableRowClickEventArgs<ReleaseResponse> _)
    {
        NavigationManager.NavigateTo("/info");
    }

    private void BackupItem(object release)
    {
        elementBeforeEdit = new ReleaseResponse
        (
             ((ReleaseResponse)release).ReleaseId,
             ((ReleaseResponse)release).Version,
             ((ReleaseResponse)release).PlatformName,
            ((ReleaseResponse)release).Status,
             ((ReleaseResponse)release).MainIssue,
             ((ReleaseResponse)release).CompleteDate,
            ((ReleaseResponse)release).UpdateDate,
             ((ReleaseResponse)release).Description
        );
        StateHasChanged();
    }

    private void ResetItemToOriginalValues(object release)
    {
        ((ReleaseResponse)release).Version = elementBeforeEdit.Version;
        ((ReleaseResponse)release).PlatformName = elementBeforeEdit.PlatformName;
        ((ReleaseResponse)release).Status = elementBeforeEdit.Status;
        ((ReleaseResponse)release).MainIssue = elementBeforeEdit.MainIssue;
        ((ReleaseResponse)release).CompleteDate = elementBeforeEdit.CompleteDate;
        StateHasChanged();
    }

    private void ItemHasBeenCommitted(object release)
    {
        StateHasChanged();
    }
}